* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdf8f4;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1000px) {
  .main-features-box {
    grid-template-columns: auto;
  }
  .work-grid {
    grid-template-columns: auto;
  }
  .section-idea {
    grid-template-columns: auto;
  }
  .idea-doc {
    order: 2;
  }
  .section-footer {
    grid-template-columns: auto;
    justify-content: center;
  }
  .section-footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --navfont: 1rem;
    --logofont: 1.5rem;

    --headfont: 1.5rem;
    --headfont2: 1rem;
    --pfont: 0.75rem;
  }
  .reviewcontain1,
  .reviewcontain2 {
    grid-column: 1/-1;
  }
}
